/*** Begin /r/ainbow flair CSS ***/
/* Begin common styles for all flair. */
/* If you want to add a new flag, add its flair class to this list. Refer
 * to "flair images" section below for naming requirements.
 */
span.flair-ainbow,
span.flair-trans,
span.flair-bi,
span.flair-het,
span.flair-ace,
span.flair-demi,
span.flair-ally,
span.flair-pan,
span.flair-genderqueer,
span.flair-genderfluid,
span.flair-nonbinary,
span.flair-neutrois,
span.flair-demiboy,
span.flair-demigirl,
span.flair-deminonbinary,
span.flair-agender,
span.flair-trans-ainbow,
span.flair-trans-pan,
span.flair-trans-bi,
span.flair-trans-het,
span.flair-trans-ace,
span.flair-trans-demi,
span.flair-genderqueer-ainbow,
span.flair-genderqueer-pan,
span.flair-genderqueer-bi,
span.flair-genderqueer-het,
span.flair-genderqueer-ace,
span.flair-genderqueer-demi,
span.flair-genderfluid-ainbow,
span.flair-genderfluid-pan,
span.flair-genderfluid-bi,
span.flair-genderfluid-het,
span.flair-genderfluid-ace,
span.flair-genderfluid-demi,
span.flair-nonbinary-ainbow,
span.flair-nonbinary-pan,
span.flair-nonbinary-bi,
span.flair-nonbinary-het,
span.flair-nonbinary-ace,
span.flair-nonbinary-demi,
span.flair-neutrois-ainbow,
span.flair-neutrois-pan,
span.flair-neutrois-bi,
span.flair-neutrois-het,
span.flair-neutrois-ace,
span.flair-neutrois-demi,
span.flair-demiboy-ainbow,
span.flair-demiboy-pan,
span.flair-demiboy-bi,
span.flair-demiboy-het,
span.flair-demiboy-ace,
span.flair-demiboy-demi,
span.flair-demigirl-ainbow,
span.flair-demigirl-pan,
span.flair-demigirl-bi,
span.flair-demigirl-het,
span.flair-demigirl-ace,
span.flair-demigirl-demi,
span.flair-deminonbinary-ainbow,
span.flair-deminonbinary-pan,
span.flair-deminonbinary-bi,
span.flair-deminonbinary-het,
span.flair-deminonbinary-ace,
span.flair-deminonbinary-demi,
span.flair-agender-ainbow,
span.flair-agender-pan,
span.flair-agender-bi,
span.flair-agender-het,
span.flair-agender-ace,
span.flair-agender-demi,
span.flair-demi-ainbow,
span.flair-demi-bi,
span.flair-demi-het,
span.flair-demi-pan,
span.flair-trans-demi-ainbow,
span.flair-trans-demi-bi,
span.flair-trans-demi-het,
span.flair-trans-demi-pan,
span.flair-genderqueer-demi-ainbow,
span.flair-genderqueer-demi-bi,
span.flair-genderqueer-demi-het,
span.flair-genderqueer-demi-pan,
span.flair-genderfluid-demi-ainbow,
span.flair-genderfluid-demi-bi,
span.flair-genderfluid-demi-het,
span.flair-genderfluid-demi-pan,
span.flair-nonbinary-demi-ainbow,
span.flair-nonbinary-demi-bi,
span.flair-nonbinary-demi-het,
span.flair-nonbinary-demi-pan,
span.flair-neutrois-demi-ainbow,
span.flair-neutrois-demi-bi,
span.flair-neutrois-demi-het,
span.flair-neutrois-demi-pan,
span.flair-demiboy-demi-ainbow,
span.flair-demiboy-demi-bi,
span.flair-demiboy-demi-het,
span.flair-demiboy-demi-pan,
span.flair-demigirl-demi-ainbow,
span.flair-demigirl-demi-bi,
span.flair-demigirl-demi-het,
span.flair-demigirl-demi-pan,
span.flair-deminonbinary-demi-ainbow,
span.flair-deminonbinary-demi-pan,
span.flair-deminonbinary-demi-bi,
span.flair-deminonbinary-demi-het,
span.flair-agender-demi-ainbow,
span.flair-agender-demi-pan,
span.flair-agender-demi-bi,
span.flair-agender-demi-het
{
  visibility: visible;
  width: 18px;
  height: 12px;
  padding: 0;
  margin: 0;
}

/* single image flair flags */
span.flair
{
   text-indent: 22px;
   padding-right: 0px;
   width: auto;
   min-width: 18px;
   voice-family: takei;
   vertical-align: bottom;
   line-height: 12px;
}

/* over ride some tags for dual flags */
span.flair-trans-ainbow,
span.flair-trans-pan,
span.flair-trans-bi,
span.flair-trans-het,
span.flair-trans-ace,
span.flair-trans-demi,
span.flair-genderqueer-ainbow,
span.flair-genderqueer-pan,
span.flair-genderqueer-bi,
span.flair-genderqueer-het,
span.flair-genderqueer-ace,
span.flair-genderqueer-demi,
span.flair-genderfluid-ainbow,
span.flair-genderfluid-pan,
span.flair-genderfluid-bi,
span.flair-genderfluid-het,
span.flair-genderfluid-ace,
span.flair-genderfluid-demi,
span.flair-nonbinary-ainbow,
span.flair-nonbinary-pan,
span.flair-nonbinary-bi,
span.flair-nonbinary-het,
span.flair-nonbinary-ace,
span.flair-nonbinary-demi,
span.flair-neutrois-ainbow,
span.flair-neutrois-pan,
span.flair-neutrois-bi,
span.flair-neutrois-het,
span.flair-neutrois-ace,
span.flair-neutrois-demi,
span.flair-demiboy-ainbow,
span.flair-demiboy-pan,
span.flair-demiboy-bi,
span.flair-demiboy-het,
span.flair-demiboy-ace,
span.flair-demiboy-demi,
span.flair-demigirl-ainbow,
span.flair-demigirl-pan,
span.flair-demigirl-bi,
span.flair-demigirl-het,
span.flair-demigirl-ace,
span.flair-demigirl-demi,
span.flair-deminonbinary-ainbow,
span.flair-deminonbinary-pan,
span.flair-deminonbinary-bi,
span.flair-deminonbinary-het,
span.flair-deminonbinary-ace,
span.flair-deminonbinary-demi,
span.flair-agender-ainbow,
span.flair-agender-pan,
span.flair-agender-bi,
span.flair-agender-het,
span.flair-agender-ace,
span.flair-agender-demi,
span.flair-demi-ainbow,
span.flair-demi-bi,
span.flair-demi-het,
span.flair-demi-pan
{
    text-indent: 44px;
    min-width: 40px;
    background-position: 0 0, 22px 0;
    background-repeat: no-repeat;
    background-color: #ddd;
}

/* triple flags */
span.flair-trans-demi-ainbow,
span.flair-trans-demi-bi,
span.flair-trans-demi-het,
span.flair-trans-demi-pan,
span.flair-genderqueer-demi-ainbow,
span.flair-genderqueer-demi-bi,
span.flair-genderqueer-demi-het,
span.flair-genderqueer-demi-pan,
span.flair-genderfluid-demi-ainbow,
span.flair-genderfluid-demi-bi,
span.flair-genderfluid-demi-het,
span.flair-genderfluid-demi-pan,
span.flair-nonbinary-demi-ainbow,
span.flair-nonbinary-demi-bi,
span.flair-nonbinary-demi-het,
span.flair-nonbinary-demi-pan,
span.flair-neutrois-demi-ainbow,
span.flair-neutrois-demi-bi,
span.flair-neutrois-demi-het,
span.flair-neutrois-demi-pan,
span.flair-demiboy-demi-ainbow,
span.flair-demiboy-demi-bi,
span.flair-demiboy-demi-het,
span.flair-demiboy-demi-pan,
span.flair-demigirl-demi-ainbow,
span.flair-demigirl-demi-bi,
span.flair-demigirl-demi-het,
span.flair-demigirl-demi-pan,
span.flair-deminonbinary-demi-ainbow,
span.flair-deminonbinary-demi-bi,
span.flair-deminonbinary-demi-het,
span.flair-deminonbinary-demi-pan,
span.flair-agender-demi-ainbow,
span.flair-agender-demi-bi,
span.flair-agender-demi-het,
span.flair-agender-demi-pan
{
    text-indent: 68px;
    min-width: 62px;
    background-position: 0 0, 22px 0, 44px, 0;
    background-repeat: no-repeat;
    background-color: #ddd;
}

/* add spacing to other side of text when text is present in flair */
span.flair:not(:empty) {
    padding-right: 4px;
}

/* 2012-11-22: RES Nightmode css */
.res-nightmode span.flair
{
   color: white !important;
   text-indent: 22px;
   padding-right: 0px;
   width: auto;
   min-width: 18px;
   voice-family: takei;
}

/* over ride some tags for dual flags */
.res-nightmode span.flair-trans-ainbow,
.res-nightmode span.flair-trans-pan,
.res-nightmode span.flair-trans-bi,
.res-nightmode span.flair-trans-het,
.res-nightmode span.flair-trans-ace,
.res-nightmode span.flair-trans-demi,
.res-nightmode span.flair-genderqueer-ainbow,
.res-nightmode span.flair-genderqueer-pan,
.res-nightmode span.flair-genderqueer-bi,
.res-nightmode span.flair-genderqueer-het,
.res-nightmode span.flair-genderqueer-ace,
.res-nightmode span.flair-genderqueer-demi,
.res-nightmode span.flair-genderfluid-ainbow,
.res-nightmode span.flair-genderfluid-pan,
.res-nightmode span.flair-genderfluid-bi,
.res-nightmode span.flair-genderfluid-het,
.res-nightmode span.flair-genderfluid-ace,
.res-nightmode span.flair-genderfluid-demi,
.res-nightmode span.flair-nonbinary-ainbow,
.res-nightmode span.flair-nonbinary-pan,
.res-nightmode span.flair-nonbinary-bi,
.res-nightmode span.flair-nonbinary-het,
.res-nightmode span.flair-nonbinary-ace,
.res-nightmode span.flair-nonbinary-demi,
.res-nightmode span.flair-neutrois-ainbow,
.res-nightmode span.flair-neutrois-pan,
.res-nightmode span.flair-neutrois-bi,
.res-nightmode span.flair-neutrois-het,
.res-nightmode span.flair-neutrois-ace,
.res-nightmode span.flair-neutrois-demi,
.res-nightmode span.flair-demiboy-ainbow,
.res-nightmode span.flair-demiboy-pan,
.res-nightmode span.flair-demiboy-bi,
.res-nightmode span.flair-demiboy-het,
.res-nightmode span.flair-demiboy-ace,
.res-nightmode span.flair-demiboy-demi,
.res-nightmode span.flair-demigirl-ainbow,
.res-nightmode span.flair-demigirl-pan,
.res-nightmode span.flair-demigirl-bi,
.res-nightmode span.flair-demigirl-het,
.res-nightmode span.flair-demigirl-ace,
.res-nightmode span.flair-demigirl-demi,
.res-nightmode span.flair-deminonbinary-ainbow,
.res-nightmode span.flair-deminonbinary-pan,
.res-nightmode span.flair-deminonbinary-bi,
.res-nightmode span.flair-deminonbinary-het,
.res-nightmode span.flair-deminonbinary-ace,
.res-nightmode span.flair-deminonbinary-demi,
.res-nightmode span.flair-agender-ainbow,
.res-nightmode span.flair-agender-pan,
.res-nightmode span.flair-agender-bi,
.res-nightmode span.flair-agender-het,
.res-nightmode span.flair-agender-ace,
.res-nightmode span.flair-agender-demi,
.res-nightmode span.flair-demi-ainbow,
.res-nightmode span.flair-demi-bi,
.res-nightmode span.flair-demi-het,
.res-nightmode span.flair-demi-pan
{
    text-indent: 44px;
    min-width: 40px;
    background-position: 0 0, 22px 0;
    background-repeat: no-repeat;
    background-color: #777;
}

/* triple flags */
.res-nightmode span.flair-trans-demi-ainbow,
.res-nightmode span.flair-trans-demi-bi,
.res-nightmode span.flair-trans-demi-het,
.res-nightmode span.flair-trans-demi-pan,
.res-nightmode span.flair-genderqueer-demi-ainbow,
.res-nightmode span.flair-genderqueer-demi-bi,
.res-nightmode span.flair-genderqueer-demi-het,
.res-nightmode span.flair-genderqueer-demi-pan
.res-nightmode span.flair-genderqueer-demi-ainbow,
.res-nightmode span.flair-genderqueer-demi-bi,
.res-nightmode span.flair-genderqueer-demi-het,
.res-nightmode span.flair-genderqueer-demi-pan,
.res-nightmode span.flair-genderfluid-demi-ainbow,
.res-nightmode span.flair-genderfluid-demi-bi,
.res-nightmode span.flair-genderfluid-demi-het,
.res-nightmode span.flair-genderfluid-demi-pan,
.res-nightmode span.flair-nonbinary-demi-ainbow,
.res-nightmode span.flair-nonbinary-demi-bi,
.res-nightmode span.flair-nonbinary-demi-het,
.res-nightmode span.flair-nonbinary-demi-pan,
.res-nightmode span.flair-neutrois-demi-ainbow,
.res-nightmode span.flair-neutrois-demi-bi,
.res-nightmode span.flair-neutrois-demi-het,
.res-nightmode span.flair-neutrois-demi-pan,
.res-nightmode span.flair-demiboy-demi-ainbow,
.res-nightmode span.flair-demiboy-demi-bi,
.res-nightmode span.flair-demiboy-demi-het,
.res-nightmode span.flair-demiboy-demi-pan,
.res-nightmode span.flair-demigirl-demi-ainbow,
.res-nightmode span.flair-demigirl-demi-bi,
.res-nightmode span.flair-demigirl-demi-het,
.res-nightmode span.flair-demigirl-demi-pan,
.res-nightmode span.flair-deminonbinary-demi-ainbow,
.res-nightmode span.flair-deminonbinary-demi-bi,
.res-nightmode span.flair-deminonbinary-demi-het,
.res-nightmode span.flair-deminonbinary-demi-pan,
.res-nightmode span.flair-agender-demi-ainbow,
.res-nightmode span.flair-agender-demi-bi,
.res-nightmode span.flair-agender-demi-het,
.res-nightmode span.flair-agender-demi-pan
{
    text-indent: 68px;
    min-width: 62px;
    background-position: 0 0, 22px 0, 44px, 0;
    background-repeat: no-repeat;
    background-color: #777;
}

/* NEW 2012-10-17: text-only flair */
span.flair-noflag
{
   background: #DDD;
   text-indent: 0 !important;
   padding: 0 2px !important;
   width: auto;
   min-width: 0;
   voice-family: takei;
}

/* Fix for modbox; reddit applies a larger font size to flair in the sidebar. */
.sidecontentbox .flair {
   font-size: x-small;
}

/* End common styles for all flair */

/* Begin common styles for inline images. */
/* Same deal, add URL selector here for additional flags. Refer to
 * inline images section below for URL usage. */
a[href="/ally"]:after,
a[href="/ainbow"]:after,
a[href="/trans"]:after,
a[href="/bi"]:after,
a[href="/het"]:after,
a[href="/ace"]:after,
a[href="/demi"]:after,
a[href="/pan"]:after,
a[href="/genderqueer"]:after,
a[href="/genderfluid"]:after,
a[href="/nonbinary"]:after,
a[href="/neutrois"]:after,
a[href="/demiboy"]:after,
a[href="/demigirl"]:after,
a[href="/deminonbinary"]:after,
a[href="/agender"]:after
{
    width: 18px;
    height: 12px;
    content: "";
    background-position: -0px;
    display: inline-block;
    border: 1px solid #DDD;
    border-radius: 2px;
    pointer-events: none;
    cursor: default;
}

/* End common styles for inline images. */

/* Begin flair images. */
/* The %%flagname%% should correspond to whatever you entered as the
 * image name in the stylesheet page. If you take the suggested filename
 * from when you upload them, it should just work.
 * The word after span.flair- should be what you enter into the CSS class
 * box on the flair template page. So for span.flair-ainbow you would enter
 * ainbow in the flair template's CSS class.
 */
/* Begin single flag flair images */
span.flair-ally { background:#DDD url(%%ally%%) no-repeat left top !important; }
span.flair-ainbow { background:#DDD url(%%ainbow%%) no-repeat left top !important;}
span.flair-bi { background:#DDD url(%%bi%%) no-repeat left top !important; }
span.flair-het { background:#DDD url(%%het%%) no-repeat left top !important; }
span.flair-ace { background:#DDD url(%%ace%%) no-repeat left top !important; }
span.flair-demi { background:#DDD url(%%demi%%) no-repeat left top !important; }
span.flair-trans { background:#DDD url(%%trans%%) no-repeat left top !important; }
span.flair-pan { background:#DDD url(%%pan%%) no-repeat left top !important; }
span.flair-genderqueer { background:#DDD url(%%gq%%) no-repeat left top !important; }
span.flair-genderfluid { background:#DDD url(%%gf%%) no-repeat left top !important; }
span.flair-nonbinary { background:#DDD url(%%nb%%) no-repeat left top !important; }
span.flair-neutrois { background:#DDD url(%%neutrois%%) no-repeat left top !important; }
span.flair-demiboy { background:#DDD url(%%db%%) no-repeat left top !important; }
span.flair-demigirl { background:#DDD url(%%dg%%) no-repeat left top !important; }
span.flair-deminonbinary { background:#DDD url(%%dnb%%) no-repeat left top !important; }
span.flair-agender { background:#DDD url(%%ag%%) no-repeat left top !important; }
/* End single flag flair images */
/* Begin dual flag flair images */
span.flair-trans-ainbow { background-image: url(%%trans%%), url(%%ainbow%%); }
span.flair-trans-pan { background-image: url(%%trans%%), url(%%pan%%); }
span.flair-trans-bi { background-image: url(%%trans%%), url(%%bi%%); }
span.flair-trans-het { background-image: url(%%trans%%), url(%%het%%); }
span.flair-trans-ace { background-image: url(%%trans%%), url(%%ace%%); }
span.flair-trans-demi { background-image: url(%%trans%%), url(%%demi%%); }
span.flair-genderqueer-ainbow { background-image: url(%%gq%%), url(%%ainbow%%); }
span.flair-genderqueer-pan { background-image: url(%%gq%%), url(%%pan%%); }
span.flair-genderqueer-bi { background-image: url(%%gq%%), url(%%bi%%); }
span.flair-genderqueer-het { background-image: url(%%gq%%), url(%%het%%); }
span.flair-genderqueer-ace { background-image: url(%%gq%%), url(%%ace%%); }
span.flair-genderqueer-demi { background-image: url(%%gq%%), url(%%demi%%); }
span.flair-genderfluid-ainbow { background-image: url(%%gf%%), url(%%ainbow%%); }
span.flair-genderfluid-pan { background-image: url(%%gf%%), url(%%pan%%); }
span.flair-genderfluid-bi { background-image: url(%%gf%%), url(%%bi%%); }
span.flair-genderfluid-het { background-image: url(%%gf%%), url(%%het%%); }
span.flair-genderfluid-ace { background-image: url(%%gf%%), url(%%ace%%); }
span.flair-genderfluid-demi { background-image: url(%%gf%%), url(%%demi%%); }
span.flair-nonbinary-ainbow { background-image: url(%%nb%%), url(%%ainbow%%); }
span.flair-nonbinary-pan { background-image: url(%%nb%%), url(%%pan%%); }
span.flair-nonbinary-bi { background-image: url(%%nb%%), url(%%bi%%); }
span.flair-nonbinary-het { background-image: url(%%nb%%), url(%%het%%); }
span.flair-nonbinary-ace { background-image: url(%%nb%%), url(%%ace%%); }
span.flair-nonbinary-demi { background-image: url(%%nb%%), url(%%demi%%); }
span.flair-neutrois-ainbow { background-image: url(%%neutrois%%), url(%%ainbow%%); }
span.flair-neutrois-pan { background-image: url(%%neutrois%%), url(%%pan%%); }
span.flair-neutrois-bi { background-image: url(%%neutrois%%), url(%%bi%%); }
span.flair-neutrois-het { background-image: url(%%neutrois%%), url(%%het%%); }
span.flair-neutrois-ace { background-image: url(%%neutrois%%), url(%%ace%%); }
span.flair-neutrois-demi { background-image: url(%%neutrois%%), url(%%demi%%); }
span.flair-demiboy-ainbow { background-image: url(%%db%%), url(%%ainbow%%); }
span.flair-demiboy-pan { background-image: url(%%db%%), url(%%pan%%); }
span.flair-demiboy-bi { background-image: url(%%db%%), url(%%bi%%); }
span.flair-demiboy-het { background-image: url(%%db%%), url(%%het%%); }
span.flair-demiboy-ace { background-image: url(%%db%%), url(%%ace%%); }
span.flair-demiboy-demi { background-image: url(%%db%%), url(%%demi%%); }
span.flair-demigirl-ainbow { background-image: url(%%dg%%), url(%%ainbow%%); }
span.flair-demigirl-pan { background-image: url(%%dg%%), url(%%pan%%); }
span.flair-demigirl-bi { background-image: url(%%dg%%), url(%%bi%%); }
span.flair-demigirl-het { background-image: url(%%dg%%), url(%%het%%); }
span.flair-demigirl-ace { background-image: url(%%dg%%), url(%%ace%%); }
span.flair-demigirl-demi { background-image: url(%%dg%%), url(%%demi%%); }
span.flair-deminonbinary-ainbow { background-image: url(%%dnb%%), url(%%ainbow%%); }
span.flair-deminonbinary-pan { background-image: url(%%dnb%%), url(%%pan%%); }
span.flair-deminonbinary-bi { background-image: url(%%dnb%%), url(%%bi%%); }
span.flair-deminonbinary-het { background-image: url(%%dnb%%), url(%%het%%); }
span.flair-deminonbinary-ace { background-image: url(%%dnb%%), url(%%ace%%); }
span.flair-deminonbinary-demi { background-image: url(%%dnb%%), url(%%demi%%); }
span.flair-agender-ainbow { background-image: url(%%ag%%), url(%%ainbow%%); }
span.flair-agender-pan { background-image: url(%%ag%%), url(%%pan%%); }
span.flair-agender-bi { background-image: url(%%ag%%), url(%%bi%%); }
span.flair-agender-het { background-image: url(%%ag%%), url(%%het%%); }
span.flair-agender-ace { background-image: url(%%ag%%), url(%%ace%%); }
span.flair-agender-demi { background-image: url(%%ag%%), url(%%demi%%); }
span.flair-demi-ainbow { background-image: url(%%demi%%), url(%%ainbow%%); }
span.flair-demi-pan { background-image: url(%%demi%%), url(%%pan%%); }
span.flair-demi-bi { background-image: url(%%demi%%), url(%%bi%%); }
span.flair-demi-het { background-image: url(%%demi%%), url(%%het%%); }
/* End dual flag flair images */
/* Begin triple flag flair images */
span.flair-trans-demi-ainbow { background-image: url(%%trans%%), url(%%demi%%), url(%%ainbow%%); }
span.flair-trans-demi-bi { background-image: url(%%trans%%), url(%%demi%%), url(%%bi%%); }
span.flair-trans-demi-het { background-image: url(%%trans%%), url(%%demi%%), url(%%het%%); }
span.flair-trans-demi-pan { background-image: url(%%trans%%), url(%%demi%%), url(%%pan%%); }
span.flair-genderqueer-demi-ainbow { background-image: url(%%gq%%), url(%%demi%%), url(%%ainbow%%); }
span.flair-genderqueer-demi-bi { background-image: url(%%gq%%), url(%%demi%%), url(%%bi%%); }
span.flair-genderqueer-demi-het { background-image: url(%%gq%%), url(%%demi%%), url(%%het%%); }
span.flair-genderqueer-demi-pan { background-image: url(%%gq%%), url(%%demi%%), url(%%pan%%); }
span.flair-genderfluid-demi-ainbow { background-image: url(%%gf%%), url(%%demi%%), url(%%ainbow%%); }
span.flair-genderfluid-demi-bi { background-image: url(%%gf%%), url(%%demi%%), url(%%bi%%); }
span.flair-genderfluid-demi-het { background-image: url(%%gf%%), url(%%demi%%), url(%%het%%); }
span.flair-genderfluid-demi-pan { background-image: url(%%gf%%), url(%%demi%%), url(%%pan%%); }
span.flair-nonbinary-demi-ainbow { background-image: url(%%nb%%), url(%%demi%%), url(%%ainbow%%); }
span.flair-nonbinary-demi-bi { background-image: url(%%nb%%), url(%%demi%%), url(%%bi%%); }
span.flair-nonbinary-demi-het { background-image: url(%%nb%%), url(%%demi%%), url(%%het%%); }
span.flair-nonbinary-demi-pan { background-image: url(%%nb%%), url(%%demi%%), url(%%pan%%); }
span.flair-neutrois-demi-ainbow { background-image: url(%%neutrois%%), url(%%demi%%), url(%%ainbow%%); }
span.flair-neutrois-demi-bi { background-image: url(%%neutrois%%), url(%%demi%%), url(%%bi%%); }
span.flair-neutrois-demi-het { background-image: url(%%neutrois%%), url(%%demi%%), url(%%het%%); }
span.flair-neutrois-demi-pan { background-image: url(%%neutrois%%), url(%%demi%%), url(%%pan%%); }
span.flair-demiboy-demi-ainbow { background-image: url(%%db%%), url(%%demi%%), url(%%ainbow%%); }
span.flair-demiboy-demi-bi { background-image: url(%%db%%), url(%%demi%%), url(%%bi%%); }
span.flair-demiboy-demi-het { background-image: url(%%db%%), url(%%demi%%), url(%%het%%); }
span.flair-demiboy-demi-pan { background-image: url(%%db%%), url(%%demi%%), url(%%pan%%); }
span.flair-demigirl-demi-ainbow { background-image: url(%%dg%%), url(%%demi%%), url(%%ainbow%%); }
span.flair-demigirl-demi-bi { background-image: url(%%dg%%), url(%%demi%%), url(%%bi%%); }
span.flair-demigirl-demi-het { background-image: url(%%dg%%), url(%%demi%%), url(%%het%%); }
span.flair-demigirl-demi-pan { background-image: url(%%dg%%), url(%%demi%%), url(%%pan%%); }
span.flair-deminonbinary-demi-ainbow { background-image: url(%%dnb%%), url(%%demi%%), url(%%ainbow%%); }
span.flair-deminonbinary-demi-bi { background-image: url(%%dnb%%), url(%%demi%%), url(%%bi%%); }
span.flair-deminonbinary-demi-het { background-image: url(%%dnb%%), url(%%demi%%), url(%%het%%); }
span.flair-deminonbinary-demi-pan { background-image: url(%%dnb%%), url(%%demi%%), url(%%pan%%); }
span.flair-agender-demi-ainbow { background-image: url(%%ag%%), url(%%demi%%), url(%%ainbow%%); }
span.flair-agender-demi-bi { background-image: url(%%ag%%), url(%%demi%%), url(%%bi%%); }
span.flair-agender-demi-het { background-image: url(%%ag%%), url(%%demi%%), url(%%het%%); }
span.flair-agender-demi-pan { background-image: url(%%ag%%), url(%%demi%%), url(%%pan%%); }
/* End triple flag flair images */

/* RES nightMode Flair, darker background with white text*/
/* Begin single flag flair images */
.res-nightmode  span.flair-ally { background:#777 url(%%ally%%) no-repeat left top !important; }
.res-nightmode  span.flair-ainbow { background:#777 url(%%ainbow%%) no-repeat left top !important;}
.res-nightmode  span.flair-bi { background:#777 url(%%bi%%) no-repeat left top !important; }
.res-nightmode  span.flair-het { background:#777 url(%%het%%) no-repeat left top !important; }
.res-nightmode  span.flair-ace { background:#777 url(%%ace%%) no-repeat left top !important; }
.res-nightmode  span.flair-demi { background:#777 url(%%demi%%) no-repeat left top !important; }
.res-nightmode  span.flair-trans { background:#777 url(%%trans%%) no-repeat left top !important; }
.res-nightmode  span.flair-pan { background:#777 url(%%pan%%) no-repeat left top !important; }
.res-nightmode  span.flair-genderqueer { background:#777 url(%%gq%%) no-repeat left top !important; }
.res-nightmode  span.flair-genderfluid { background:#777 url(%%gf%%) no-repeat left top !important; }
.res-nightmode  span.flair-nonbinary { background:#777 url(%%nb%%) no-repeat left top !important; }
.res-nightmode  span.flair-neutrois { background:#777 url(%%neutrois%%) no-repeat left top !important; }
.res-nightmode  span.flair-demiboy { background:#777 url(%%db%%) no-repeat left top !important; }
.res-nightmode  span.flair-demigirl { background:#777 url(%%dg%%) no-repeat left top !important; }
.res-nightmode  span.flair-deminonbinary { background:#777 url(%%dnb%%) no-repeat left top !important; }
.res-nightmode  span.flair-agender { background:#777 url(%%ag%%) no-repeat left top !important; }
/* End single flag flair images */
/* Begin dual flag flair images */
.res-nightmode  span.flair-trans-ainbow { background-image: url(%%trans%%), url(%%ainbow%%); }
.res-nightmode  span.flair-trans-pan { background-image: url(%%trans%%), url(%%pan%%); }
.res-nightmode  span.flair-trans-bi { background-image: url(%%trans%%), url(%%bi%%); }
.res-nightmode  span.flair-trans-het { background-image: url(%%trans%%), url(%%het%%); }
.res-nightmode  span.flair-trans-ace { background-image: url(%%trans%%), url(%%ace%%); }
.res-nightmode  span.flair-trans-demi { background-image: url(%%trans%%), url(%%demi%%); }
.res-nightmode  span.flair-genderqueer-ainbow { background-image: url(%%gq%%), url(%%ainbow%%); }
.res-nightmode  span.flair-genderqueer-pan { background-image: url(%%gq%%), url(%%pan%%); }
.res-nightmode  span.flair-genderqueer-bi { background-image: url(%%gq%%), url(%%bi%%); }
.res-nightmode  span.flair-genderqueer-het { background-image: url(%%gq%%), url(%%het%%); }
.res-nightmode  span.flair-genderqueer-ace { background-image: url(%%gq%%), url(%%ace%%); }
.res-nightmode  span.flair-genderqueer-demi { background-image: url(%%gq%%), url(%%demi%%); }
.res-nightmode  span.flair-genderfluid-ainbow { background-image: url(%%gf%%), url(%%ainbow%%); }
.res-nightmode  span.flair-genderfluid-pan { background-image: url(%%gf%%), url(%%pan%%); }
.res-nightmode  span.flair-genderfluid-bi { background-image: url(%%gf%%), url(%%bi%%); }
.res-nightmode  span.flair-genderfluid-het { background-image: url(%%gf%%), url(%%het%%); }
.res-nightmode  span.flair-genderfluid-ace { background-image: url(%%gf%%), url(%%ace%%); }
.res-nightmode  span.flair-genderfluid-demi { background-image: url(%%gf%%), url(%%demi%%); }
.res-nightmode  span.flair-nonbinary-ainbow { background-image: url(%%nb%%), url(%%ainbow%%); }
.res-nightmode  span.flair-nonbinary-pan { background-image: url(%%nb%%), url(%%pan%%); }
.res-nightmode  span.flair-nonbinary-bi { background-image: url(%%nb%%), url(%%bi%%); }
.res-nightmode  span.flair-nonbinary-het { background-image: url(%%nb%%), url(%%het%%); }
.res-nightmode  span.flair-nonbinary-ace { background-image: url(%%nb%%), url(%%ace%%); }
.res-nightmode  span.flair-nonbinary-demi { background-image: url(%%nb%%), url(%%demi%%); }
.res-nightmode  span.flair-neutrois-ainbow { background-image: url(%%neutrois%%), url(%%ainbow%%); }
.res-nightmode  span.flair-neutrois-pan { background-image: url(%%neutrois%%), url(%%pan%%); }
.res-nightmode  span.flair-neutrois-bi { background-image: url(%%neutrois%%), url(%%bi%%); }
.res-nightmode  span.flair-neutrois-het { background-image: url(%%neutrois%%), url(%%het%%); }
.res-nightmode  span.flair-neutrois-ace { background-image: url(%%neutrois%%), url(%%ace%%); }
.res-nightmode  span.flair-neutrois-demi { background-image: url(%%neutrois%%), url(%%demi%%); }
.res-nightmode  span.flair-demiboy-ainbow { background-image: url(%%db%%), url(%%ainbow%%); }
.res-nightmode  span.flair-demiboy-pan { background-image: url(%%db%%), url(%%pan%%); }
.res-nightmode  span.flair-demiboy-bi { background-image: url(%%db%%), url(%%bi%%); }
.res-nightmode  span.flair-demiboy-het { background-image: url(%%db%%), url(%%het%%); }
.res-nightmode  span.flair-demiboy-ace { background-image: url(%%db%%), url(%%ace%%); }
.res-nightmode  span.flair-demiboy-demi { background-image: url(%%db%%), url(%%demi%%); }
.res-nightmode  span.flair-demigirl-ainbow { background-image: url(%%dg%%), url(%%ainbow%%); }
.res-nightmode  span.flair-demigirl-pan { background-image: url(%%dg%%), url(%%pan%%); }
.res-nightmode  span.flair-demigirl-bi { background-image: url(%%dg%%), url(%%bi%%); }
.res-nightmode  span.flair-demigirl-het { background-image: url(%%dg%%), url(%%het%%); }
.res-nightmode  span.flair-demigirl-ace { background-image: url(%%dg%%), url(%%ace%%); }
.res-nightmode  span.flair-demigirl-demi { background-image: url(%%dg%%), url(%%demi%%); }
.res-nightmode  span.flair-deminonbinary-ainbow { background-image: url(%%dnb%%), url(%%ainbow%%); }
.res-nightmode  span.flair-deminonbinary-pan { background-image: url(%%dnb%%), url(%%pan%%); }
.res-nightmode  span.flair-deminonbinary-bi { background-image: url(%%dnb%%), url(%%bi%%); }
.res-nightmode  span.flair-deminonbinary-het { background-image: url(%%dnb%%), url(%%het%%); }
.res-nightmode  span.flair-deminonbinary-ace { background-image: url(%%dnb%%), url(%%ace%%); }
.res-nightmode  span.flair-deminonbinary-demi { background-image: url(%%dnb%%), url(%%demi%%); }
.res-nightmode  span.flair-agender-ainbow { background-image: url(%%ag%%), url(%%ainbow%%); }
.res-nightmode  span.flair-agender-pan { background-image: url(%%ag%%), url(%%pan%%); }
.res-nightmode  span.flair-agender-bi { background-image: url(%%ag%%), url(%%bi%%); }
.res-nightmode  span.flair-agender-het { background-image: url(%%ag%%), url(%%het%%); }
.res-nightmode  span.flair-agender-ace { background-image: url(%%ag%%), url(%%ace%%); }
.res-nightmode  span.flair-agender-demi { background-image: url(%%ag%%), url(%%demi%%); }
.res-nightmode  span.flair-demi-ainbow { background-image: url(%%demi%%), url(%%ainbow%%); }
.res-nightmode  span.flair-demi-bi { background-image: url(%%demi%%), url(%%bi%%); }
.res-nightmode  span.flair-demi-het { background-image: url(%%demi%%), url(%%het%%); }
.res-nightmode  span.flair-demi-pan { background-image: url(%%demi%%), url(%%pan%%); }
.res-nightmode  span.flair-noflag { background:#777 !important; }
/* End dual flag flair images */
/* Begin triple flag flair images */
.res-nightmode  span.flair-trans-demi-ainbow { background-image: url(%%trans%%), url(%%demi%%), url(%%ainbow%%); }
.res-nightmode  span.flair-trans-demi-bi { background-image: url(%%trans%%), url(%%demi%%), url(%%bi%%); }
.res-nightmode  span.flair-trans-demi-het { background-image: url(%%trans%%), url(%%demi%%), url(%%het%%); }
.res-nightmode  span.flair-trans-demi-pan { background-image: url(%%trans%%), url(%%demi%%), url(%%pan%%); }
.res-nightmode  span.flair-genderqueer-demi-ainbow { background-image: url(%%gq%%), url(%%demi%%), url(%%ainbow%%); }
.res-nightmode  span.flair-genderqueer-demi-bi { background-image: url(%%gq%%), url(%%demi%%), url(%%bi%%); }
.res-nightmode  span.flair-genderqueer-demi-het { background-image: url(%%gq%%), url(%%demi%%), url(%%het%%); }
.res-nightmode  span.flair-genderqueer-demi-pan { background-image: url(%%gq%%), url(%%demi%%), url(%%pan%%); }
.res-nightmode  span.flair-genderfluid-demi-ainbow { background-image: url(%%gf%%), url(%%demi%%), url(%%ainbow%%); }
.res-nightmode  span.flair-genderfluid-demi-bi { background-image: url(%%gf%%), url(%%demi%%), url(%%bi%%); }
.res-nightmode  span.flair-genderfluid-demi-het { background-image: url(%%gf%%), url(%%demi%%), url(%%het%%); }
.res-nightmode  span.flair-genderfluid-demi-pan { background-image: url(%%gf%%), url(%%demi%%), url(%%pan%%); }
.res-nightmode  span.flair-nonbinary-demi-ainbow { background-image: url(%%nb%%), url(%%demi%%), url(%%ainbow%%); }
.res-nightmode  span.flair-nonbinary-demi-bi { background-image: url(%%nb%%), url(%%demi%%), url(%%bi%%); }
.res-nightmode  span.flair-nonbinary-demi-het { background-image: url(%%nb%%), url(%%demi%%), url(%%het%%); }
.res-nightmode  span.flair-nonbinary-demi-pan { background-image: url(%%nb%%), url(%%demi%%), url(%%pan%%); }
.res-nightmode  span.flair-neutrois-demi-ainbow { background-image: url(%%neutrois%%), url(%%demi%%), url(%%ainbow%%); }
.res-nightmode  span.flair-neutrois-demi-bi { background-image: url(%%neutrois%%), url(%%demi%%), url(%%bi%%); }
.res-nightmode  span.flair-neutrois-demi-het { background-image: url(%%neutrois%%), url(%%demi%%), url(%%het%%); }
.res-nightmode  span.flair-neutrois-demi-pan { background-image: url(%%neutrois%%), url(%%demi%%), url(%%pan%%); }
.res-nightmode  span.flair-demiboy-demi-ainbow { background-image: url(%%db%%), url(%%demi%%), url(%%ainbow%%); }
.res-nightmode  span.flair-demiboy-demi-bi { background-image: url(%%db%%), url(%%demi%%), url(%%bi%%); }
.res-nightmode  span.flair-demiboy-demi-het { background-image: url(%%db%%), url(%%demi%%), url(%%het%%); }
.res-nightmode  span.flair-demiboy-demi-pan { background-image: url(%%db%%), url(%%demi%%), url(%%pan%%); }
.res-nightmode  span.flair-demigirl-demi-ainbow { background-image: url(%%dg%%), url(%%demi%%), url(%%ainbow%%); }
.res-nightmode  span.flair-demigirl-demi-bi { background-image: url(%%dg%%), url(%%demi%%), url(%%bi%%); }
.res-nightmode  span.flair-demigirl-demi-het { background-image: url(%%dg%%), url(%%demi%%), url(%%het%%); }
.res-nightmode  span.flair-demigirl-demi-pan { background-image: url(%%dg%%), url(%%demi%%), url(%%pan%%); }
.res-nightmode  span.flair-deminonbinary-demi-ainbow { background-image: url(%%dnb%%), url(%%demi%%), url(%%ainbow%%); }
.res-nightmode  span.flair-deminonbinary-demi-bi { background-image: url(%%dnb%%), url(%%demi%%), url(%%bi%%); }
.res-nightmode  span.flair-deminonbinary-demi-het { background-image: url(%%dnb%%), url(%%demi%%), url(%%het%%); }
.res-nightmode  span.flair-deminonbinary-demi-pan { background-image: url(%%dnb%%), url(%%demi%%), url(%%pan%%); }
.res-nightmode  span.flair-agender-demi-ainbow { background-image: url(%%ag%%), url(%%demi%%), url(%%ainbow%%); }
.res-nightmode  span.flair-agender-demi-bi { background-image: url(%%ag%%), url(%%demi%%), url(%%bi%%); }
.res-nightmode  span.flair-agender-demi-het { background-image: url(%%ag%%), url(%%demi%%), url(%%het%%); }
.res-nightmode  span.flair-agender-demi-pan { background-image: url(%%ag%%), url(%%demi%%), url(%%pan%%); }
/* End triple flag flair images */

/* DEPRECATED 2012-10-17: Reddit's 'Remove Flair' button handles
   removing one's flair, so we've removed this from the templates.
   The class remains for any users who set it previously. */
.flair-none { display:none; }
/* End flair images */

/* Begin inline images */
/* This allows you to insert flair, rage-face style, into posts or comments
 * with [](/flagname). This is mainly for the sidebar, or for announcements
 * but will also work for any user in the comments.
 */
a[href="/ally"]:after { background-image: url(%%ally%%); }
a[href="/ainbow"]:after { background-image: url(%%ainbow%%); }
a[href="/trans"]:after { background-image: url(%%trans%%); }
a[href="/bi"]:after { background-image: url(%%bi%%); }
a[href="/het"]:after { background-image: url(%%het%%); }
a[href="/ace"]:after { background-image: url(%%ace%%); }
a[href="/demi"]:after { background-image: url(%%demi%%); }
a[href="/pan"]:after { background-image: url(%%pan%%); }
a[href="/genderqueer"]:after { background-image: url(%%gq%%); }
a[href="/genderfluid"]:after { background-image: url(%%gf%%); }
a[href="/nonbinary"]:after { background-image: url(%%nb%%); }
a[href="/neutrois"]:after { background-image: url(%%neutrois%%); }
a[href="/demiboy"]:after { background-image: url(%%db%%); }
a[href="/demigirl"]:after { background-image: url(%%dg%%); }
a[href="/deminonbinary"]:after { background-image: url(%%dnb%%); }
a[href="/agender"]:after { background-image: url(%%ag%%); }
/* End inline images */

/* Flag hover text */

/* Gigantic boilerplate mouse hover text */

span.flair-ainbow:hover:after {
    content: " Rainbow";
}
span.flair-trans:hover:after {
    content: " Trans";
}
span.flair-bi:hover:after {
    content: " Bisexual";
}
span.flair-het:hover:after {
    content: " Heterosexual";
}
span.flair-ace:hover:after {
    content: " Asexual";
}
span.flair-demi:hover:after {
    content: " Demisexual";
}
span.flair-ally:hover:after {
    content: " Ally";
}
span.flair-pan:hover:after {
    content: " Pansexual";
}
span.flair-genderqueer:hover:after {
    content: " Genderqueer";
}
span.flair-genderfluid:hover:after {
    content: " Genderfluid";
}
span.flair-nonbinary:hover:after {
    content: " Nonbinary";
}
span.flair-neutrois:hover:after {
    content: " Neutrois";
}
span.flair-demiboy:hover:after {
    content: " Demiboy";
}
span.flair-demigirl:hover:after {
    content: " Demigirl";
}
span.flair-deminonbinary:hover:after {
    content: " Deminonbinary";
}
span.flair-agender:hover:after {
    content: " Agender";
}
span.flair-trans-ainbow:hover:after {
    content: " Trans Rainbow";
}
span.flair-trans-pan:hover:after {
    content: " Trans Pansexual";
}
span.flair-trans-bi:hover:after {
    content: " Trans Bisexual";
}
span.flair-trans-het:hover:after {
    content: " Trans Heterosexual";
}
span.flair-trans-ace:hover:after {
    content: " Trans Asexual";
}
span.flair-trans-demi:hover:after {
    content: " Trans Demisexual";
}
span.flair-genderqueer-ainbow:hover:after {
    content: " Genderqueer Rainbow";
}
span.flair-genderqueer-pan:hover:after {
    content: " Genderqueer Pansexual";
}
span.flair-genderqueer-bi:hover:after {
    content: " Genderqueer Bisexual";
}
span.flair-genderqueer-het:hover:after {
    content: " Genderqueer Heterosexual";
}
span.flair-genderqueer-ace:hover:after {
    content: " Genderqueer Asexual";
}
span.flair-genderqueer-demi:hover:after {
    content: " Genderqueer Demisexual";
}
span.flair-genderfluid-ainbow:hover:after {
    content: " Genderfluid Rainbow";
}
span.flair-genderfluid-pan:hover:after {
    content: " Genderfluid Pansexual";
}
span.flair-genderfluid-bi:hover:after {
    content: " Genderfluid Bisexual";
}
span.flair-genderfluid-het:hover:after {
    content: " Genderfluid Heterosexual";
}
span.flair-genderfluid-ace:hover:after {
    content: " Genderfluid Asexual";
}
span.flair-genderfluid-demi:hover:after {
    content: " Genderfluid Demisexual";
}
span.flair-nonbinary-ainbow:hover:after {
    content: " Nonbinary Rainbow";
}
span.flair-nonbinary-pan:hover:after {
    content: " Nonbinary Pansexual";
}
span.flair-nonbinary-bi:hover:after {
    content: " Nonbinary Bisexual";
}
span.flair-nonbinary-het:hover:after {
    content: " Nonbinary Heterosexual";
}
span.flair-nonbinary-ace:hover:after {
    content: " Nonbinary Asexual";
}
span.flair-nonbinary-demi:hover:after {
    content: " Nonbinary Demisexual";
}
span.flair-neutrois-ainbow:hover:after {
    content: " Neutrois Rainbow";
}
span.flair-neutrois-pan:hover:after {
    content: " Neutrois Pansexual";
}
span.flair-neutrois-bi:hover:after {
    content: " Neutrois Bisexual";
}
span.flair-neutrois-het:hover:after {
    content: " Neutrois Heterosexual";
}
span.flair-neutrois-ace:hover:after {
    content: " Neutrois Asexual";
}
span.flair-neutrois-demi:hover:after {
    content: " Neutrois Demisexual";
}
span.flair-demiboy-ainbow:hover:after {
    content: " Demiboy Rainbow";
}
span.flair-demiboy-pan:hover:after {
    content: " Demiboy Pansexual";
}
span.flair-demiboy-bi:hover:after {
    content: " Demiboy Bisexual";
}
span.flair-demiboy-het:hover:after {
    content: " Demiboy Heterosexual";
}
span.flair-demiboy-ace:hover:after {
    content: " Demiboy Asexual";
}
span.flair-demiboy-demi:hover:after {
    content: " Demiboy Demisexual";
}
span.flair-demigirl-ainbow:hover:after {
    content: " Demigirl Rainbow";
}
span.flair-demigirl-pan:hover:after {
    content: " Demigirl Pansexual";
}
span.flair-demigirl-bi:hover:after {
    content: " Demigirl Bisexual";
}
span.flair-demigirl-het:hover:after {
    content: " Demigirl Heterosexual";
}
span.flair-demigirl-ace:hover:after {
    content: " Demigirl Asexual";
}
span.flair-demigirl-demi:hover:after {
    content: " Demigirl Demisexual";
}
span.flair-deminonbinary-ainbow:hover:after {
    content: " Nonbinary Rainbow";
}
span.flair-deminonbinary-pan:hover:after {
    content: " Nonbinary Pansexual";
}
span.flair-deminonbinary-bi:hover:after {
    content: " Nonbinary Bisexual";
}
span.flair-deminonbinary-het:hover:after {
    content: " Nonbinary Heterosexual";
}
span.flair-deminonbinary-ace:hover:after {
    content: " Nonbinary Asexual";
}
span.flair-deminonbinary-demi:hover:after {
    content: " Nonbinary Demisexual";
}
span.flair-agender-ainbow:hover:after {
    content: " Agender Rainbow";
}
span.flair-agender-pan:hover:after {
    content: " Agender Pansexual";
}
span.flair-agender-bi:hover:after {
    content: " Agender Bisexual";
}
span.flair-agender-het:hover:after {
    content: " Agender Heterosexual";
}
span.flair-agender-ace:hover:after{
    content: " Agender Asexual";
}
span.flair-agender-demi:hover:after {
    content: " Agender Demisexual";
}
span.flair-demi-ainbow:hover:after {
    content: " Demisexual Rainbow";
}
span.flair-demi-bi:hover:after {
    content: " Demisexual Bisexual";
}
span.flair-demi-het:hover:after {
    content: " Demisexual Heterosexual";
}
span.flair-demi-pan:hover:after {
    content: " Demisexual Pansexual";
}
span.flair-trans-demi-ainbow:hover:after {
    content: " Trans Demisexual Rainbow";
}
span.flair-trans-demi-bi:hover:after {
    content: " Trans Demisexual Bisexual";
}
span.flair-trans-demi-het:hover:after {
    content: " Trans Demisexual Heterosexual";
}
span.flair-trans-demi-pan:hover:after {
    content: " Trans Demisexual Pansexual";
}
span.flair-genderqueer-demi-ainbow:hover:after {
    content: " Genderqueer Demisexual Rainbow";
}
span.flair-genderqueer-demi-bi:hover:after {
    content: " Genderqueer Demisexual Bisexual";
}
span.flair-genderqueer-demi-het:hover:after {
    content: " Genderqueer Demisexual Heterosexual";
}
span.flair-genderqueer-demi-pan:hover:after {
    content: " Genderqueer Demisexual Pansexual";
}
span.flair-genderfluid-demi-ainbow:hover:after {
    content: " Genderfluid Demisexual Rainbow";
}
span.flair-genderfluid-demi-bi:hover:after {
    content: " Genderfluid Demisexual Bisexual";
}
span.flair-genderfluid-demi-het:hover:after {
    content: " Genderfluid Demisexual Heterosexual";
}
span.flair-genderfluid-demi-pan:hover:after {
    content: " Genderfluid Demisexual Pansexual";
}
span.flair-nonbinary-demi-ainbow:hover:after {
    content: " Nonbinary Demisexual Rainbow";
}
span.flair-nonbinary-demi-bi:hover:after {
    content: " Nonbinary Demisexual Bisexual";
}
span.flair-nonbinary-demi-het:hover:after {
    content: " Nonbinary Demisexual Heterosexual";
}
span.flair-nonbinary-demi-pan:hover:after {
    content: " Nonbinary Demisexual Pansexual";
}
span.flair-neutrois-demi-ainbow:hover:after {
    content: " Neutrois Demisexual Rainbow";
}
span.flair-neutrois-demi-bi:hover:after {
    content: " Neutrois Demisexual Bisexual";
}
span.flair-neutrois-demi-het:hover:after {
    content: " Neutrois Demisexual Heterosexual";
}
span.flair-neutrois-demi-pan:hover:after {
    content: " Neutrois Demisexual Pansexual";
}
span.flair-demiboy-demi-ainbow:hover:after {
    content: " Demiboy Demisexual Rainbow";
}
span.flair-demiboy-demi-bi:hover:after {
    content: " Demiboy Demisexual Bisexual";
}
span.flair-demiboy-demi-het:hover:after {
    content: " Demiboy Demisexual Heterosexual";
}
span.flair-demiboy-demi-pan:hover:after {
    content: " Demiboy Demisexual Pansexual";
}
span.flair-demigirl-demi-ainbow:hover:after {
    content: " Demigirl Demisexual Rainbow";
}
span.flair-demigirl-demi-bi:hover:after {
    content: " Demigirl Demisexual Bisexual";
}
span.flair-demigirl-demi-het:hover:after {
    content: " Demigirl Demisexual Heterosexual";
}
span.flair-demigirl-demi-pan:hover:after {
    content: " Demigirl Demisexual Pansexual";
}
span.flair-deminonbinary-demi-ainbow:hover:after {
    content: " Deminonbinary Demisexual Rainbow";
}
span.flair-deminonbinary-demi-pan:hover:after {
    content: " Deminonbinary Demisexual Pansexual";
}
span.flair-deminonbinary-demi-bi:hover:after {
    content: " Deminonbinary Demisexual Bisexual";
}
span.flair-deminonbinary-demi-het:hover:after {
    content: " Deminonbinary Demisexual Heterosexual";
}
span.flair-agender-demi-ainbow:hover:after {
    content: " Agender Demisexual Rainbow";
}
span.flair-agender-demi-pan:hover:after {
    content: " Agender Demisexual Pansexual";
}
span.flair-agender-demi-bi:hover:after {
    content: " Agender Demisexual Bisexual";
}
span.flair-agender-demi-het:hover:after {
    content: " Agender Demisexual Heterosexual";
}

/* Giant boilerplate for always caption on mobile
unfortunately reddit does not seem to support flairs
yet and so this script will have little effect, but
on the day that reddit finally does support mobile flair
this media query should trigger on mobiles and auto
content the flairs without requireing the user to hover
their non existent mouse to see the flair content */

@media only screen and (min-resolution: 117dpi) and (max-resolution: 119dpi),
       only screen and (min-resolution: 131dpi) and (max-resolution: 133dpi),
       only screen and (min-resolution: 145dpi) and (max-resolution: 154dpi),
       only screen and (min-resolution: 162dpi) and (max-resolution: 164dpi),
       only screen and (min-resolution: 169dpi) {
  /* https://stackoverflow.com/questions/12469875/how-to-code-css-media-queries-targeting-all-mobile-devices-and-tablets */
  span.flair-ainbow:after {
      content: " Rainbow";
  }
  span.flair-trans:after {
      content: " Trans";
  }
  span.flair-bi:after {
      content: " Bisexual";
  }
  span.flair-het:after {
      content: " Heterosexual";
  }
  span.flair-ace:after {
      content: " Asexual";
  }
  span.flair-demi:after {
      content: " Demisexual";
  }
  span.flair-ally:after {
      content: " Ally";
  }
  span.flair-pan:after {
      content: " Pansexual";
  }
  span.flair-genderqueer:after {
      content: " Genderqueer";
  }
  span.flair-genderfluid:after {
      content: " Genderfluid";
  }
  span.flair-nonbinary:after {
      content: " Nonbinary";
  }
  span.flair-neutrois:after {
      content: " Neutrois";
  }
  span.flair-demiboy:after {
      content: " Demiboy";
  }
  span.flair-demigirl:after {
      content: " Demigirl";
  }
  span.flair-deminonbinary:after {
      content: " Deminonbinary";
  }
  span.flair-agender:after {
      content: " Agender";
  }
  span.flair-trans-ainbow:after {
      content: " Trans Rainbow";
  }
  span.flair-trans-pan:after {
      content: " Trans Pansexual";
  }
  span.flair-trans-bi:after {
      content: " Trans Bisexual";
  }
  span.flair-trans-het:after {
      content: " Trans Heterosexual";
  }
  span.flair-trans-ace:after {
      content: " Trans Asexual";
  }
  span.flair-trans-demi:after {
      content: " Trans Demisexual";
  }
  span.flair-genderqueer-ainbow:after {
      content: " Genderqueer Rainbow";
  }
  span.flair-genderqueer-pan:after {
      content: " Genderqueer Pansexual";
  }
  span.flair-genderqueer-bi:after {
      content: " Genderqueer Bisexual";
  }
  span.flair-genderqueer-het:after {
      content: " Genderqueer Heterosexual";
  }
  span.flair-genderqueer-ace:after {
      content: " Genderqueer Asexual";
  }
  span.flair-genderqueer-demi:after {
      content: " Genderqueer Demisexual";
  }
  span.flair-genderfluid-ainbow:after {
      content: " Genderfluid Rainbow";
  }
  span.flair-genderfluid-pan:after {
      content: " Genderfluid Pansexual";
  }
  span.flair-genderfluid-bi:after {
      content: " Genderfluid Bisexual";
  }
  span.flair-genderfluid-het:after {
      content: " Genderfluid Heterosexual";
  }
  span.flair-genderfluid-ace:after {
      content: " Genderfluid Asexual";
  }
  span.flair-genderfluid-demi:after {
      content: " Genderfluid Demisexual";
  }
  span.flair-nonbinary-ainbow:after {
      content: " Nonbinary Rainbow";
  }
  span.flair-nonbinary-pan:after {
      content: " Nonbinary Pansexual";
  }
  span.flair-nonbinary-bi:after {
      content: " Nonbinary Bisexual";
  }
  span.flair-nonbinary-het:after {
      content: " Nonbinary Heterosexual";
  }
  span.flair-nonbinary-ace:after {
      content: " Nonbinary Asexual";
  }
  span.flair-nonbinary-demi:after {
      content: " Nonbinary Demisexual";
  }
  span.flair-neutrois-ainbow:after {
      content: " Neutrois Rainbow";
  }
  span.flair-neutrois-pan:after {
      content: " Neutrois Pansexual";
  }
  span.flair-neutrois-bi:after {
      content: " Neutrois Bisexual";
  }
  span.flair-neutrois-het:after {
      content: " Neutrois Heterosexual";
  }
  span.flair-neutrois-ace:after {
      content: " Neutrois Asexual";
  }
  span.flair-neutrois-demi:after {
      content: " Neutrois Demisexual";
  }
  span.flair-demiboy-ainbow:after {
      content: " Demiboy Rainbow";
  }
  span.flair-demiboy-pan:after {
      content: " Demiboy Pansexual";
  }
  span.flair-demiboy-bi:after {
      content: " Demiboy Bisexual";
  }
  span.flair-demiboy-het:after {
      content: " Demiboy Heterosexual";
  }
  span.flair-demiboy-ace:after {
      content: " Demiboy Asexual";
  }
  span.flair-demiboy-demi:after {
      content: " Demiboy Demisexual";
  }
  span.flair-demigirl-ainbow:after {
      content: " Demigirl Rainbow";
  }
  span.flair-demigirl-pan:after {
      content: " Demigirl Pansexual";
  }
  span.flair-demigirl-bi:after {
      content: " Demigirl Bisexual";
  }
  span.flair-demigirl-het:after {
      content: " Demigirl Heterosexual";
  }
  span.flair-demigirl-ace:after {
      content: " Demigirl Asexual";
  }
  span.flair-demigirl-demi:after {
      content: " Demigirl Demisexual";
  }
  span.flair-deminonbinary-ainbow:after {
      content: " Nonbinary Rainbow";
  }
  span.flair-deminonbinary-pan:after {
      content: " Nonbinary Pansexual";
  }
  span.flair-deminonbinary-bi:after {
      content: " Nonbinary Bisexual";
  }
  span.flair-deminonbinary-het:after {
      content: " Nonbinary Heterosexual";
  }
  span.flair-deminonbinary-ace:after {
      content: " Nonbinary Asexual";
  }
  span.flair-deminonbinary-demi:after {
      content: " Nonbinary Demisexual";
  }
  span.flair-agender-ainbow:after {
      content: " Agender Rainbow";
  }
  span.flair-agender-pan:after {
      content: " Agender Pansexual";
  }
  span.flair-agender-bi:after {
      content: " Agender Bisexual";
  }
  span.flair-agender-het:after {
      content: " Agender Heterosexual";
  }
  span.flair-agender-ace:after{
      content: " Agender Asexual";
  }
  span.flair-agender-demi:after {
      content: " Agender Demisexual";
  }
  span.flair-demi-ainbow:after {
      content: " Demisexual Rainbow";
  }
  span.flair-demi-bi:after {
      content: " Demisexual Bisexual";
  }
  span.flair-demi-het:after {
      content: " Demisexual Heterosexual";
  }
  span.flair-demi-pan:after {
      content: " Demisexual Pansexual";
  }
  span.flair-trans-demi-ainbow:after {
      content: " Trans Demisexual Rainbow";
  }
  span.flair-trans-demi-bi:after {
      content: " Trans Demisexual Bisexual";
  }
  span.flair-trans-demi-het:after {
      content: " Trans Demisexual Heterosexual";
  }
  span.flair-trans-demi-pan:after {
      content: " Trans Demisexual Pansexual";
  }
  span.flair-genderqueer-demi-ainbow:after {
      content: " Genderqueer Demisexual Rainbow";
  }
  span.flair-genderqueer-demi-bi:after {
      content: " Genderqueer Demisexual Bisexual";
  }
  span.flair-genderqueer-demi-het:after {
      content: " Genderqueer Demisexual Heterosexual";
  }
  span.flair-genderqueer-demi-pan:after {
      content: " Genderqueer Demisexual Pansexual";
  }
  span.flair-genderfluid-demi-ainbow:after {
      content: " Genderfluid Demisexual Rainbow";
  }
  span.flair-genderfluid-demi-bi:after {
      content: " Genderfluid Demisexual Bisexual";
  }
  span.flair-genderfluid-demi-het:after {
      content: " Genderfluid Demisexual Heterosexual";
  }
  span.flair-genderfluid-demi-pan:after {
      content: " Genderfluid Demisexual Pansexual";
  }
  span.flair-nonbinary-demi-ainbow:after {
      content: " Nonbinary Demisexual Rainbow";
  }
  span.flair-nonbinary-demi-bi:after {
      content: " Nonbinary Demisexual Bisexual";
  }
  span.flair-nonbinary-demi-het:after {
      content: " Nonbinary Demisexual Heterosexual";
  }
  span.flair-nonbinary-demi-pan:after {
      content: " Nonbinary Demisexual Pansexual";
  }
  span.flair-neutrois-demi-ainbow:after {
      content: " Neutrois Demisexual Rainbow";
  }
  span.flair-neutrois-demi-bi:after {
      content: " Neutrois Demisexual Bisexual";
  }
  span.flair-neutrois-demi-het:after {
      content: " Neutrois Demisexual Heterosexual";
  }
  span.flair-neutrois-demi-pan:after {
      content: " Neutrois Demisexual Pansexual";
  }
  span.flair-demiboy-demi-ainbow:after {
      content: " Demiboy Demisexual Rainbow";
  }
  span.flair-demiboy-demi-bi:after {
      content: " Demiboy Demisexual Bisexual";
  }
  span.flair-demiboy-demi-het:after {
      content: " Demiboy Demisexual Heterosexual";
  }
  span.flair-demiboy-demi-pan:after {
      content: " Demiboy Demisexual Pansexual";
  }
  span.flair-demigirl-demi-ainbow:after {
      content: " Demigirl Demisexual Rainbow";
  }
  span.flair-demigirl-demi-bi:after {
      content: " Demigirl Demisexual Bisexual";
  }
  span.flair-demigirl-demi-het:after {
      content: " Demigirl Demisexual Heterosexual";
  }
  span.flair-demigirl-demi-pan:after {
      content: " Demigirl Demisexual Pansexual";
  }
  span.flair-deminonbinary-demi-ainbow:after {
      content: " Deminonbinary Demisexual Rainbow";
  }
  span.flair-deminonbinary-demi-pan:after {
      content: " Deminonbinary Demisexual Pansexual";
  }
  span.flair-deminonbinary-demi-bi:after {
      content: " Deminonbinary Demisexual Bisexual";
  }
  span.flair-deminonbinary-demi-het:after {
      content: " Deminonbinary Demisexual Heterosexual";
  }
  span.flair-agender-demi-ainbow:after {
      content: " Agender Demisexual Rainbow";
  }
  span.flair-agender-demi-pan:after {
      content: " Agender Demisexual Pansexual";
  }
  span.flair-agender-demi-bi:after {
      content: " Agender Demisexual Bisexual";
  }
  span.flair-agender-demi-het:after {
      content: " Agender Demisexual Heterosexual";
  }
}

/*
 * Make flair selection popup single column instead of 3 
 * to give space for the now much wider flairs with the emojis
 * also in each.
 */
.flairoptionpane ul {
  min-width: 100% !important;
}


/*** End /r/ainbow flair CSS ***/
