/*** Begin /r/ainbow flair CSS ***/

/*
 * Reddit introduced emoji powered flags with the new reddit design.
 * Shortly after, they added emoji flag support back to the old reddit design.
 * This CSS is now a factor of 10 shorter as the need for user flair templates
 * to introduce the flags images into the flair is gone.
 * Now this CSS only styles hover text for all flag images.
 */

/*
 * Make hover text visible as it overflows the flair spans.
 */
span.flairbase, .flairselector ul, .flairoptionpane, .flairrichtext {
  overflow: visible;
}

/*
 * Entries cannot be overflow: visible because this breaks layout (badly).
 * Instead create padding with negative margin so visual layout is unaffected
 * but the hover text is not overflowing the div so doesn't get cut off.
 */
.commentarea .entry {
  padding-top: 22px;
  margin-top: -22px;
}
.comment .midcol {
  padding-top: 22px;
}


/*
 * Add spacing around flag images and
 * fix their size to 18x12.
 */
span.flairemoji {
  margin-left: 2px;
  margin-right: 2px;
  width: 18px;
  height: 12px;
  cursor: help;
  font-size: 10px
}

/*
 * Style hovertext to look like flair.
 */
span.flairemoji:hover:after {
  position: absolute;
  top: -26px;
  left: 0px;
  background: #f5f5f5;
  border: 1px solid #ddd;
  padding: 2px;
  font-size: 10px
  margin: 0px;
}

/*
 * Use a dark background on nightmode for RES
 * TODO: Feedback and testing how this looks
 */
.res-nightmode span.flairemoji:hover:after {
  background-color: #777;
}

span.flairemoji[title=":ace:"]:hover:after {
  content: "Asexual";
}

span.flairemoji[title=":agender:"]:hover:after {
  content: "Agender";
}

span.flairemoji[title=":ally:"]:hover:after {
  content: "Ally";
}

span.flairemoji[title=":aro:"]:hover:after {
  content: "Aromantic";
}

span.flairemoji[title=":bi:"]:hover:after {
  content: "Bisexual";
}

span.flairemoji[title=":demi:"]:hover:after {
  content: "Demisexual";
}

span.flairemoji[title=":demiromantic:"]:hover:after {
  content: "Demiromantic";
}

span.flairemoji[title=":demiboy:"]:hover:after {
  content: "Demiboy";
}

span.flairemoji[title=":demigirl:"]:hover:after {
  content: "Demigirl";
}

span.flairemoji[title=":deminonbinary:"]:hover:after {
  content: "Deminonbinary";
}

span.flairemoji[title=":grey:"]:hover:after {
  content: "Greysexual";
}

span.flairemoji[title=":genderfluid:"]:hover:after {
  content: "Genderfluid";
}

span.flairemoji[title=":genderqueer:"]:hover:after {
  content: "Genderqueer";
}

span.flairemoji[title=":hetero:"]:hover:after {
  content: "Heterosexual";
}

span.flairemoji[title=":lesbian:"]:hover:after {
  content: "Lesbian";
}

span.flairemoji[title=":neutrois:"]:hover:after {
  content: "Neutrois";
}

span.flairemoji[title=":nonbinary:"]:hover:after {
  content: "Nonbinary";
}

span.flairemoji[title=":pan:"]:hover:after {
  content: "Pansexual";
}

span.flairemoji[title=":rainbow:"]:hover:after {
  content: "Rainbow Flag";
}

span.flairemoji[title=":trans:"]:hover:after {
  content: "Transgender";
}

/*** End /r/ainbow flair CSS ***/
